*{
  box-sizing: border-box;
}


body{
  height: auto;
  width: auto;
}
.container {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: white;
  /*border: 2px solid black;*/
}

div{
  vertical-align: top
  background-color: #7FD79A;

}


.square{
  vertical-align: top

  display: inline-block;
  position: absolute;
  /*top: 90px;*/
  /*border: 2px red green;*/
  height: 36px;
  width: 36px;
}
